<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <% include templates/header.ejs %>



  <h3> <%= videodata.categoryName %></h3>

  <ul>

<%  videodata.categories.forEach(function(ohho){ %>

    <li><%= ohho.categoryName %> </li>
    <%    }); %>
  </ul>

  <!--
  <ul>


  </ul>
  -->
  </body>
</html>
